[submodule "lib/stylus"]
	path = lib/stylus
	url = https://github.com/stylus/stylus
[submodule "lib/less"]
	path = lib/less
	url = https://github.com/less/less.js
[submodule "lib/autoprefixer"]
	path = lib/autoprefixer
	url = https://github.com/postcss/autoprefixer
[submodule "lib/pug"]
	path = lib/pug
	url = https://github.com/pugjs/pug
[submodule "lib/slim"]
	path = lib/slim
	url = https://github.com/slim-template/slim
[submodule "lib/haml"]
	path = lib/haml
	url = https://github.com/haml/haml
[submodule "lib/livescript"]
	path = lib/livescript
	url = https://github.com/gkz/LiveScript
